.scroll-navigation {
    // max-width: 100px;
    width: 100%;
    &__list {
        overflow: hidden;
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 10;
        // width: 100%;
    }
    &__li {
        
        pointer-events: none;
        cursor: default;
        width: 155px;
        display: flex;
        font-family: "SofiaPro";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        position: relative;
        color: #fff;
        display: flex;
        align-items: flex-end;
        &::after {
            position: absolute;
            border-bottom: 1px solid;
            width: 21px;
            content: "";
            top: 50%;
            text-align: right;
            right: 0px;
        }
    }
    &__link {
    }
}
.nav-item.active .scroll-navigation__li{
    width: 150px;
    &::after {
        position: absolute;
        border-bottom: 1px solid ;
        width: 60px;
        content: "";
        top: 50%;
        text-align: right;
        margin: 0 0 0 5px;
        right: 0px;
    }
}
.navigationName{
    margin: 0 0 0 7px;
    font-family: "SofiaPro";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}

.line {
    width: 53px;
    height: 0;
    border: 1px solid #c4c4c4;
    margin: 3px;
    display: inline-block;
}
#bannerSection {
    position: relative;
    z-index: 5;
}
#aboutSection {
    position: relative;
    z-index: 4;
}
#servicesSection {
    position: relative;
    z-index: 1;
}
#contactSection {
    position: relative;
    z-index: 1;
}
#backgroundLines {
    position: absolute; 
    top: 0; 
    height: 100%; 
    width: 100%;
    max-width: 1110px; 
    min-height: 500px;
    color: white; 
    z-index: 2;
}

.vertical-lines {
    &__container {
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        border-left: 1px solid rgba(0, 0, 0, 0.06);
        height: 3500px;
    }
}

@include small-desktop {
    .scroll-navigation {
        display: none;
    }
}
@include small-desktop-min {
    .vertical-lines {
        display: none;
    }
    
}
@include tablet{
    #bannerSection {
        position: relative;
        z-index: 1;
    }
    #aboutSection {
        position: relative;
        z-index: 1;
    }
    .banner {
        &__title {
            z-index: 1;
        }
    }
}
