
@font-face {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Alata-Regular.ttf") format("truetype");
    src: url("../fonts/Alata-Regular.woff2") format("woff2"), 
    url("../fonts/Alata-Regular.woff") format("woff");
}

@font-face {
    font-family: 'SofiaPro';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/SofiaProExtraLight.ttf") format("truetype");
    src: url("../fonts/SofiaProExtraLight.woff2") format("woff2"), 
    url("../fonts/SofiaProExtraLight.woff") format("woff");
}

@font-face {
    font-family: 'SofiaPro';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/SofiaProLight.ttf") format("truetype");
    src: url("../fonts/SofiaProLight.woff2") format("woff2"), 
    url("../fonts/SofiaProLight.woff") format("woff");
}


@font-face {
    font-family: 'SofiaPro';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SofiaProRegular.ttf") format("truetype");
    src: url("../fonts/SofiaProRegular.woff2") format("woff2"), 
    url("../fonts/SofiaProRegular.woff") format("woff");
}
@font-face {
    font-family: 'SofiaPro';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SofiaProSemiBold.ttf") format("truetype");
    src: url("../fonts/SofiaProSemiBold.woff2") format("woff2"), 
    url("../fonts/SofiaProSemiBold.woff") format("woff");
}
@font-face {
    font-family: 'SofiaPro';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SofiaProBold.ttf") format("truetype");
    src: url("../fonts/SofiaProBold.woff2") format("woff2"), 
    url("../fonts/SofiaProBold.woff") format("woff");
}


